<div class="container">
    <span>Search: </span><input type="text" [(ngModel)]="titre" placeholder="Rechercher une catégorie">
    <button (click)="updateBtnTextForAllCards('Added to Shortlist')">Update All Button Text</button>
    <div class="row">
      <div class="col-md-4" style="margin-bottom: 20px" *ngFor="let cat of filteredCategories">
        
       <app-card  [category]="cat" (addToShortlist)="handleAddToShortlist($event)">
        
       </app-card>
          
        </div>
        
      </div>
      
    </div>
  
  <router-outlet ></router-outlet>