<!--<form #addProduct="ngForm" >
    <div class="form-group">
      <label for="">Title</label>
      <input type="text" class="form-control" name="name" ngModel #name="ngModel"  placeholder="name" required minlength="4">
      <small class="alert alert-danger" *ngIf="name.errors?.['required'] && name.touched" >Reuired Fieled</small>
      <small class="text-danger" *ngIf="name.errors?.['minlength'] && name.touched" >minmum 4 caractères</small>
    </div>
    <div class="form-group">
        <label for="">Image</label>
        <input type="file" class="form-control" name="image" ngModel #image="ngModel"  placeholder="Image">
    </div>
    <div class="form-group">
        <label for="">categoryId</label>
        <input type="text" class="form-control" name="categoryId" ngModel #categoryId="ngModel"  placeholder="categoryId">
    </div>
    <div class="form-group">
        <label for="">Description</label>
        <input type="text" class="form-control" name="description" ngModel #description="ngModel"  placeholder="Descriptionk">
    </div>
    <div class="form-group">
        <label for="">Price</label>
        <input type="text" class="form-control" name="price" ngModel #price="ngModel"  placeholder="price">
    </div>-->
    
    <!--<input type="checkbox" name="available" #available="ngModel">Available
    <input type="checkbox" name="available" #available="ngModel">ANot vailable>-->
    <!-- <button type="submit" class="btn btn-primary">Submit</button>
  </form>-->

  
